{% extends 'template.html' %}

{% load static %}

{% block title %}Listening{% endblock %}

{% block styles %} 

    <link rel="stylesheet" href="{% static '/css/recording.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="recordingContent">

    <h1>Listening</h1>

    
    <button class="mic-toggle" id="mic">

        <span class="material-icons">mic</span>
        
    
    </button>

    <audio class="playback" controls></audio>



    


</div>


{% endblock %}

{% block bodyscripts %} 
    <script src="{% static 'js/recording.js' %}"></script> 
{% endblock %}