{% extends 'template.html' %}

{% load static %}

{% block title %}Listening{% endblock %}

{% block styles %} 

    <link rel="stylesheet" href="{% static '/css/recording.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="recordingContent">

    <div class="titles">Listening</div>

    
    <button class="mic-toggle" id="mic">

        {% csrf_token %}

        <span class="material-icons">mic</span>
        
    </button>

    <div class="transcript" id="transcription-container"></div>

</div>


{% endblock %}

{% block bodyscripts %} 
    <script src="{% static 'js/recording.js' %}"></script> 
{% endblock %}