@font-face {
    font-family: 'Rajdhani';
    src: url("../fonts/Rajdhani-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("../fonts/Rajdhani-Regular.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("../fonts/Rajdhani-Bold.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}


.background{

    background: linear-gradient(to bottom, #0C4160, #071330);
    height: 100vh;

}